
*{
    margin:0;
    padding:0;
}
.head{
    text-align: center;
    background-color: #baebec;
    color: brown;
    font-size: 2rem;
}
.bodydet{
    background-color: #baebec;
    height:100vh;
}
.cont{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height:10rem;
    padding:7rem;
}
.message{
    border:2px solid black;
    border-radius: 10px;
    margin:20px;
    padding:10px;
    width:20rem;
    height:10rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
    background-color: whitesmoke;
/*    align-items: center;*/
}

.details{
    font-size: 20px;
    font-weight:bold;
    margin:7px;
}

.dir{
    margin:7px;
    font-size: 17px;
}

